:root {
    --primarycolor: #232a34;
    --secondarycolor: #05a081;
    --tertiarycolor: #7f90a9;
    --fourthcolor: #0572a0;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-sherif;
    background-color: var(--tertiarycolor);
}

/* .start-btn {

} */
.btn {
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
    font-size: 25px;
    padding: 15px 30px;
    border-radius: 50px;
}

.btn:hover {
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
}

.btn:onclick {
    color: var(--fourthcolor);
}