:root {
    --primarycolor: #232a34;
    --secondarycolor: #05a081;
    --tertiarycolor: #7f90a9;
    --fourthcolor: #0572a0;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-sherif;
    background-color: var(--tertiarycolor);
}

body {
    width: 100%;
    padding: 30px 25px;
    text-align: center;
    font-size: 36px;
    border: var(--secondarycolor);
    border-radius: 5px;
    outline: auto;
}

header {
    border: ridge;
    border-color: var(--secondarycolor);
    border-radius: 25px;
    padding: 20px 20px;
}

/* .start-btn {

} */
.btn {
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
    font-size: 25px;
    padding: 15px 30px;
    border-radius: 50px;
}

.btn:hover {
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
    cursor: pointer;
}

.btn:active {
    color: var(--fourthcolor);
    background-color: var(--primarycolor);
}

footer {
    width: 100%;
    padding: 30px 25px;
    text-align: center;
    font-size: 24px;
}

